<section class="info-page">

  <img src="/images/LOGO-INICIO.png" alt="Código Cristóbal" class="logo" fetchpriority="high" />

  <div class="cta">
    <a class="btn-img" routerLink="/registro">
      <img src="/images/BOTON-APUNTA-TU-CODIGO-AQUI.png" alt="Apuntá tu código aquí" fetchpriority="high" />
    </a>

    <p class="premio">Cada empaque ganador<br>gana ₡20,000</p>
  </div>

  <a class="btn-img btn-reglamento" href="#">
    <img src="/images/BOTON-REGLAMENTO.png" alt="Reglamento" loading="lazy" />
  </a>

</section>
