@font-face {
  font-family: 'Citrus Gothic Solid';
  src: url('/fonts/FontsFree-Net-c2537321-918e-4def-a018-cba7bcc0779d.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: 'Citrus Gothic Solid', sans-serif;
}
